.bottom_nav {
    width: 100%;
    height: 60px;
    background-color: #404040;
    border: 6px solid black;
}
.bottom_nav ul {
    float: left;
}
.bottom_nav ul li {
    font-family: sans-serif;
    float: left;
    list-style: none;
    position: relative;
    margin-left: 0px;
}
.bottom_nav ul li a {
    display: block;
    padding: 8px 15px;
    color: #ffcc66;
    text-decoration: none;
}
.bottom_nav ul li ul{
    display: none;
    position: absolute;
    background-color: #404040;
    padding: 10px;
    border-left:  6px solid black;
    border-right: 6px solid black;
    border-bottom: 6px solid black;
}
.bottom_nav ul li:hover ul {
    display: block;
}
.bottom_nav ul li ul li {
    width: 180px;
}
.bottom_nav ul li ul li a{
    padding: 10px 10px;
}
.bottom_nav ul li ul li a:hover{
    background-color: #595959;
}
.bottom_nav ul li a:hover {
    color: #ff9900;
}