h3 {
    font-family: Edu NSW ACT Foundation;
    font-size: 22px;
}
body {background-color: #404040;}
h1 {color: #cc9966;}
.reflection_paragraph_1::first-letter {
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}
.reflection_paragraph_2 {
    text-indent: 50px;
}
.reflection_paragraph_3{
    text-indent: 50px;
}
.reflection_paragraph_4 {
    text-indent: 50px;
}
body p {
    display: block;
    margin: 8px;
    padding: 4px;
}
footer {
    color: #cc9966;
    width: 100%;
    height: 60px;
    background-image: url(images/footer_background.jpeg);
    background-attachment: fixed;
    border: 6px solid black;
    display: flex;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 0%;
    font-family: sans-serif;
}
.footer_logo {
    width: 20px;
    height: auto;
}
.pic_big {
    position: absolute;
    width: 0px;
    transform: translateY(-18px);
    transition: width .3s linear 0s;
}
.footer_logo:hover + .pic_big {
    width: 70px;
}
@media only screen and (max-width: 800px) {
    footer {
        width: 100%;
        height: 60px;
        background-image: url(images/footer_background.jpeg);
        background-attachment: fixed;
        font-size: 10px;
        border: 6px solid black;
        display: flex;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 0%;
        font-family: sans-serif;
    }
}
header {
    text-align: center;
}
/* ABOUT PAGE */
.about_page {
    color: rgb(255, 255, 255);
}
.resume {
    text-decoration: underline;
    color: white;
}
.about_page_quote {
    color: #cc9966;
    padding: 35px;
}
.about_page_resume_photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 100px;
    }   
.about_para_video {
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 60px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
footer a{
    text-decoration: none;
    color: #cc9966;
}


@media only screen and (max-width:400px) {
    .about_para_video {
        display: flex;
        flex-wrap: wrap;
        color: white;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 60px;
        padding-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media only screen and (max-width: 400px) {
    .about_page_resume_photo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center; 
        gap: 20px  
    }
}

/* INDEX PAGE */
.index_why {
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    font-family: sans-serif;
}
.index_me {
    display: block;
    margin: auto auto;
    width: 300px;
    height: auto;
}
.index_para {
    color: white;
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
}
@media only screen and (max-width: 810px) {
    .index_para {
        font-size: 15px;
    }
}
/* PROJECT PAGE */
.project {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: large;
}
.project_picture {
    padding-top: 20px;
}
.project_reflection {
    color: white;
    font-size: medium;
    font-family: serif;
    padding-bottom: 20px;
}
/* PERSONAL REFLECTION */
.reflection_paragraphs {
    color: white;
    font-family: sans-serif;
}
@media print {
    
    body{
        margin: 1in 1in;
        background-color: white;
        font-family: serif;
    }
    .about_page {
        color: black;
    }
    h1,h2,h4,h5,h6,p {
        color: black;
        font-family: serif;
    }
    body p {
        margin: 0px;
        padding: 0px;
        text-align: center;
        color: black;
        font-family: serif;
    }
    nav {
        display: none;
    }
    h3 {
        color: black;
        font-family: Edu NSW ACT Foundation;
    }
    video {
        display: none;
    }
    .resume {
        display: none;
    }
    .about_page_quote {
        padding: 10px;
        color: black;
        font-family: serif;
    }
    .about_para_video {
        padding-top: 40px;
        padding-left: 0px;
        padding-right: 0px;
        color: black;
        font-family: serif;
    }
    footer {
        gap: 12%;
        padding-top: 15px;
        color: black;
        font-family: serif;
        background-color: white;
    }

    footer a{
        color: black;
    }
.footer_logo, footer.background-image {
        display: none;
    }
}