body {background-color: #404040;}
h1 {color: #cc9966;}
.reflection_paragraph_1::first-letter {
    font-family: serif;
    font-weight: bold;
    font-size: 20px;
}
.reflection_paragraph_2 {
    text-indent: 50px;
}
.reflection_paragraph_3{
    text-indent: 50px;
}
.reflection_paragraph_4 {
    text-indent: 50px;
}
body p {
    display: block;
    margin: 8px;
    padding: 4px;
}
footer {
    color: #cc9966;
    width: 100%;
    height: 60px;
    background-color: #404040;
    border: 6px solid black;
    display: flex;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 0%;
    font-family: sans-serif;
}
header {
    text-align: center;
}
/* ABOUT PAGE */
.about_page {
    color: white;
}
.resume {
    text-decoration: underline;
    color: white;
}
.about_page_quote {
    color: #cc9966;
    padding: 35px;
}
.about_page_resume_photo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 100px;
    }   
@media only screen and (max-width: 400px) {
    .about_page_resume_photo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center; 
        gap: 20px  
    }
}
.about_para_video {
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 60px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 60px;
}
/* INDEX PAGE */
.index_why {
    color: white;
    text-align: center;
    font-size: large;
    padding-top: 20px;
    font-family: sans-serif;
}
.index_para {
    color: white;
    padding-top: 20px;
    text-align: center;
    font-family: sans-serif;
}
@media only screen and (max-width: 810px) {
    .index_para {
        font-size: 15px;
    }
}
/* PROJECT PAGE */
.project {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: large;
}
.project_picture {
    padding-top: 20px;
}
.project_reflection {
    color: white;
    font-size: medium;
    font-family: serif;
    padding-bottom: 20px;
}
/* PERSONAL REFLECTION */
.reflection_paragraphs {
    color: white;
    font-family: sans-serif;
    
}